<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="/static/choice.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato|Poppins&display=swap"
      rel="styleesheet"
    />
    <title>
      Are You a customer?
    </title>
  </head>
  <body>
    <section class="customer-comparison">
      <div class="customer-column">
        <div class="customer-header">
          <div class="customer">
            Customer
          </div>
          <div class="plan-name">For users</div>
        </div>
        <div class="divider"></div>
        <div class="feature">
          <img src="/static/images/logos/check-circle.svg" />
          Feature A
        </div>
        <div class="feature">
          <img src="/static/images/logos/check-circle.svg" />
          Feature B
        </div>
        <div class="feature">
          <img src="/static/images/logos/check-circle.svg" />
          Feature C
        </div>
        <div class="feature">
          <img src="/static/images/logos/check-circle.svg" />
          Feature D
        </div>
        <div class="feature">
          <img src="/static/images/logos/check-circle.svg" />
          Feature E
        </div>
        <div class="feature inactive">
          <img src="/static/images/logos/x-square.svg" />
          Feature F
        </div>
        <a href="/login">
          <button class="act">Start Today</button>
        </a>
      </div>
      <div class="customer-column popular">
        <div class="customer-header">
          <div class="customer">
            Business
          </div>
          <div class="plan-name">For vendors</div>
        </div>

        <div class="divider"></div>
        <div class="feature">
          <img src="/static/images/logos/check-circle.svg" />
          Feature A
        </div>
        <div class="feature">
          <img src="/static/images/logos/check-circle.svg" />
          Feature B
        </div>
        <div class="feature">
          <img src="/static/images/logos/check-circle.svg" />
          Feature C
        </div>
        <div class="feature">
          <img src="/static/images/logos/check-circle.svg" />
          Feature D
        </div>
        <div class="feature">
          <img src="/static/images/logos/check-circle.svg" />
          Feature E
        </div>
        <div class="feature">
          <img src="/static/images/logos/check-circle.svg" />
          Feature F
        </div>
        <a href="/signup">
          <button class="act">Start Today</button>
        </a>
        
      </div>
      <div class="customer-column">
        <div class="customer-header">
          <div class="customer">
            Guest
          </div>
          <div class="plan-name">For viewers</div>
        </div>
        <div class="divider"></div>
        <div class="feature">
          <img src="/static/images/logos/check-circle.svg" />
          Feature A
        </div>
        <div class="feature">
          <img src="/static/images/logos/check-circle.svg" />
          Feature B
        </div>
        <div class="feature">
          <img src="/static/images/logos/check-circle.svg" />
          Feature C
        </div>
        <div class="feature">
          <img src="/static/images/logos/check-circle.svg" />
          Feature D
        </div>
        <div class="feature inactive">
          <img src="/static/images/logos/x-square.svg" />
          Feature E
        </div>
        <div class="feature inactive">
          <img src="/static/images/logos/x-square.svg" />
          Feature F
        </div>
        <button class="act">Start Today</button>
      </div>
    </section>
  </body>
</html>
