<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <title>WEQ </title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="/static/home.css">
</head>

<body>
  <div class="container">
    <div class="nav">
      <div class="left-side">
        <div class="nav-link-wrapper active-nav-link">
          <a href="index.html">Home</a>
        </div>

        <div class="nav-link-wrapper">
          <a href="about.html">About</a>
        </div>
      </div>

      <div class="right-side">
        <div class="brand">
            <a href="/customer">SIGN IN</a>
          
        </div>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="home-items-wrapper">

        <div class="home-item-wrapper">
          <div class="home-img-background" style="background-image:url(/static/images/home1.jpg)"></div>

          <div class="img-text-wrapper">
            <div class="logo-wrapper">
              
              <img src="/static/images/logos/quip.png" alt="">
              
            </div>

            <div class="subtitle">I built the Quip Ecommerce platform, named a Top 25 Invention by Time Magazine in 2016.</div>
          </div>
        </div>

        <div class="home-item-wrapper">
          <div class="home-img-background" style="background-image:url(/static/images/home2.jpg)"></div>
          <div class="img-text-wrapper">
            <div class="logo-wrapper">
              <img src="/static/images/logos/devcamp.png" alt="">
            </div>

            <div class="subtitle">Coding bootcamp and learning management system.</div>
          </div>
        </div>

        <div class="home-item-wrapper">
          <div class="home-img-background" style="background-image:url(/static/images/home3.jpg)"></div>
          <div class="img-text-wrapper">
            <div class="logo-wrapper">
              <img src="/static/images/logos/eventbrite.png" alt="">
            </div>

            <div class="subtitle">Eventbrite is the leading event management platform on the web with millions of individuals utilizing their applications
              to find, register or, and management events in numerous industries.</div>
          </div>
        </div>

        <div class="home-item-wrapper">
          <div class="home-img-background" style="background-image:url(/static/images/home4.jpg)"></div>
          <div class="img-text-wrapper">
            <div class="logo-wrapper">
              <img src="/static/images/logos/shop-hacker.png" alt="">
            </div>

            <div class="subtitle">Shop Hacker allows you to easily import digital products such as elearning courses, software, and games directly
              into your ecommerce store.</div>
          </div>
        </div>

        <div class="home-item-wrapper">
          <div class="home-img-background" style="background-image:url(/static/images/home5.jpg)"></div>
          <div class="img-text-wrapper">
            <div class="logo-wrapper">
              <img src="/static/images/logos/crondose.png" alt="">
            </div>

            <div class="subtitle">Online tutorials and productivity tips.</div>
          </div>
        </div>

        <div class="home-item-wrapper">
          <div class="home-img-background" style="background-image:url(/static/images/home6.jpg)"></div>
          <div class="img-text-wrapper">
            <div class="logo-wrapper">
              <img src="/static/images/logos/dailysmarty.png" alt="">
            </div>

            <div class="subtitle">Keep track of what you learn every day.</div>
          </div>
        </div>

        <div class="home-item-wrapper">
          <div class="home-img-background" style="background-image:url(/static/images/home7.jpg)"></div>
          <div class="img-text-wrapper">
            <div class="logo-wrapper">
              <img src="/static/images/logos/dashtrack.png" alt="">
            </div>

            <div class="subtitle">What you track improves. DashTrack is a journal that makes it easy to track your daily tasks and make the most
              of your time each day.</div>
          </div>
        </div>

        <div class="home-item-wrapper">
          <div class="home-img-background" style="background-image:url(/static/images/home8.jpg)"></div>
          <div class="img-text-wrapper">
            <div class="logo-wrapper">
              <img src="/static/images/logos/devtrunk.png" alt="">
            </div>

            <div class="subtitle">Online shop for developer happiness.</div>
          </div>
        </div>

        <div class="home-item-wrapper">
          <div class="home-img-background" style="background-image:url(/static/images/home9.jpg)"></div>
          <div class="img-text-wrapper">
            <div class="logo-wrapper">
              <img src="/static/images/logos/edutechional.png" alt="">
            </div>

            <div class="subtitle">Online technology tutorials.</div>
          </div>
        </div>

        <div class="home-item-wrapper">
          <div class="home-img-background" style="background-image:url(/static/images/home10.jpg)"></div>
          <div class="img-text-wrapper">
            <div class="logo-wrapper">
              <img src="/static/images/logos/ministry-safe.png" alt="">
            </div>

            <div class="subtitle">A complete child safety system for organizations.</div>
          </div>
        </div>

        <div class="home-item-wrapper">
          <div class="home-img-background" style="background-image:url(/static/images/home11.jpg)"></div>
          <div class="img-text-wrapper">
            <div class="logo-wrapper">
              <img src="/static/images/logos/open-devos.png" alt="">
            </div>

            <div class="subtitle">Publish and share daily devotionals.</div>
          </div>
        </div>

        <div class="home-item-wrapper">
          <div class="home-img-background" style="background-image:url(/static/images/home12.jpg)"></div>
          <div class="img-text-wrapper">
            <div class="logo-wrapper">
              <img src="/static/images/logos/toastability.png" alt="">
            </div>

            <div class="subtitle">Easy way to manage the digital life of your bar or restaurant.</div>
          </div>
        </div>

      </div>
    </div>
  </div>

</body>

<script>
  const portfolioItems = document.querySelectorAll('.home-item-wrapper');

  portfolioItems.forEach(portfolioItem => {
    portfolioItem.addEventListener('mouseover', () => {
      console.log(portfolioItem.childNodes[1].classList)
      portfolioItem.childNodes[1].classList.add('image-blur');
    });

    portfolioItem.addEventListener('mouseout', () => {
      console.log(portfolioItem.childNodes[1].classList)
      portfolioItem.childNodes[1].classList.remove('image-blur');
    });
  });

</script>

</html>